/* home */

#initials {
  color: white;
  margin-top: 0;
  text-align: center;
  padding: 0;
  font-size: 40em;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Playfair Display", "Georgia", serif;
}

.banner-txt-overlap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home h1 {
  font-size: 5em;
  letter-spacing: 0.2em;
  margin-bottom: 0;
  padding-bottom: 0.25em;
}

#work {
  margin: 4em 0;
}

#work a {
  text-transform: none;
  color: black;
}

#work p {
  margin-top: -1.7em;
}

/* project page */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.project img, .carousel {
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,.1);
}

.project p {
  padding-top: 0.5em;
}

.project h3 {
  padding-top: 0.6em;
}

.project figcaption {
  padding-bottom: 1em;
}

.project .row, #styleguide .row {
  padding: 1em 0;
}

#about .box, #about img {
  margin-top: 2em;
}

/* styleguide */

.box-gray {
  width: 100%;
  height: 125px;
  display: inline-block;
  background-color: #f4f4f4;
}

.box-coral, .box-mint, .box-yellow {
  width: 100%;
  height: 140px;
  display: inline-block;
  background-color: #e57165;
}

.box-coral {
  background-color: #e57165;
}

.box-mint {
  background-color: #cee2e1;
}

.box-yellow {
  background-color: #ffeda0;
}

#styleguide h1 {
  color: #000;
  margin-top: -0.025em;
}

#styleguide h2, h3, h4, p {
  padding: 1em 0;
}
