/* add space from nav bar and footer */

/* #about, #spring-lunch, #alice, #styleguide {
  padding: 7em 0;
} */


.banner {
  background: #cee2e1;
  margin: 0;
  padding-top: 4em;
  position: relative;
  color: #fff;
  text-align: center;
}

/* .banner-content img {
  height: 425px;
} */

#initials {
  /* margin-top:-5em; */
  padding: 0;
  font-size: 40em;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Playfair Display", "Georgia", serif;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  color: #e57165;
  font-size: 5em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 0;
  padding-bottom: 0.25em;
  font-family: "Futura", "Georgia", serif;
  text-transform: uppercase;
}

.banner h2 {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-family: "Playfair Display", "Georgia", serif;
}

/* .banner-box {
  width: 500px;
  height: auto;
  background: black;
  position: absolute;
  z-index: 2;
} */

#work {
  margin: 4em 0;
}

#work a {
  text-transform: none;
  color: black;
}

#work p {
  margin-top: -1.7em;
}

/* project page */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.project img, .carousel {
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,.1);
}

.project figcaption {
  padding-bottom: 1em;
}

.project .row, #styleguide .row {
  padding: 1em 0;
}

#about .box, #about img {
  margin-top: 2em;
}

/* styleguide */
/* #styleguide img {
  width: 200px;
  height: auto;
  padding-bottom: 1.5em;
} */

.box-gray {
  width: 100%;
  height: 125px;
  display: inline-block;
  background-color: #f4f4f4;
}

.box-coral, .box-teal, .box-yellow {
  width: 100%;
  height: 140px;
  margin-top: -2em;
  display: inline-block;
  background-color: #e57165;
}

.box-coral {
  background-color: #e57165;
}

.box-teal {
  background-color: #36bbc9;
}

.box-yellow {
  background-color: #f9e073;
}

#styleguide h1 {
  color: #000;
  margin-top: -0.025em;
}

#styleguide h2, h3, h4, p {
  padding: 1em 0;
}
